.container {
    width: 500px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 4px;
}

#login{
    width: 90%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
#login::placeholder {
    color: black;
}

#login:focus {
    background-color: #ddd;
    outline: none;
}
.btn {
    background:linear-gradient(90deg, #bea925 0%, rgba(255, 128, 0, 1) 83%) 0% 0% no-repeat padding-box;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity:1;
}
